// https://www.wikimass.com/sass/color-functions
// Some variables define other variables' values, we can call them "root" variables.
// You can override them here

@import "bootstrap/scss/functions"; // Required
@import "./overrides/variables"; // Stagecast overrides of bootstrap/scss/variables (Required)
@import "./overrides/mixins"; // Stagecast overrides of bootstrap/scss/mixins (Required)
@import "./overrides/close";

// For all the other non-root variables, you can override them here. Here you can also use
// bootstrap variables that you haven't used before because they weren't imported

// Add Bootstrap modules you need

// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "overrides/buttons"; // override of "bootstrap/scss/buttons"
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group"; // Requires forms
@import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

// Custom styles
@import "complement/background";
@import "complement/custom-forms";
@import "complement/dropdown";
@import "complement/forms";
@import "complement/modals";
@import "complement/progress";
@import "complement/root";
@import "complement/type";

// TODO:
// icon-button
// form right-bottom info
// form icons
// button secondary variant
// alert secondary variant
// docs - color hex codes

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

svg {
  width: 16px;
  height: 16px;
}
