<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Stagecast v3</title>
  </head>
  <body style="padding: 48px 32px">
    <div class="row mx-auto">
      <button id="modalTrigger" type="button" class="btn" data-toggle="modal" data-target="#crewMembersModal">Open the modal!</button>

      <!-- Add contacts -->
      <div>
        <div class="modal fade" id="crewMembersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Workspace Members</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Manage what users can access by setting workspace roles. <i data-feather="help-circle"></i></p>

                <div class="container-fluid">
                  <div class="row align-items-center">
                    <div class="col-6 p-0">
                      <h3 class="h5 m-0">1/5 Members</h3>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group mb-0">
                        <div class="input-group has-validation">
                          <input type="email" class="form-control icon-prepend" data-icon="mail" placeholder="Type email...">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon1">Invite Members</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-5">
                    <!-- Robin -->
                    <div class="col-12 d-flex rounded p-4 align-items-center" style="background: var(--z-space-01);">
                      <img class="avatar " src="../showcase-assets/avatar-img.jpg" alt="R"></img>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">Robin Bugdahn</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">bugdahn-robin@t-online.de</div>
                      <div style="width: 120px;" class="dropdown d-inline-block text-right mr-2">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Admin
                          <i class="post-icon align-bottom" data-feather="chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item active" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Admin</button>
                          <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Owner</button>
                          <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Member</button>
                        </div>
                      </div>
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <button class="dropdown-item"><i class="pre-icon mr-3" data-feather="refresh-cw"></i>Resend invite</button>
                          <button class="dropdown-item text-danger"><i class="pre-icon mr-3" data-feather="x"></i>Remove Robin Bugdahn</button>
                        </div>
                      </div>
                    </div>
                    <!-- Filippo -->
                    <div class="col-12 d-flex rounded p-4 mt-1 align-items-center" style="background: var(--z-space-01);">
                      <img class="avatar" src="../showcase-assets/john.jpg" alt="F"></img>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">Filippo Boiani</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">filippo@stagecast.se</div>
                      <div style="width: 120px;" class="dropdown d-inline-block text-right mr-2">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Member
                          <i class="post-icon align-bottom" data-feather="chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item active" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Admin</button>
                          <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Owner</button>
                          <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="user"></i>Member</button>
                        </div>
                      </div>
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <button class="dropdown-item"><i class="pre-icon mr-3" data-feather="refresh-cw"></i>Resend invite</button>
                          <button class="dropdown-item text-danger"><i class="pre-icon mr-3" data-feather="x"></i>Remove Filippo Boiani</button>
                        </div>
                      </div>
                    </div>
                    <!-- Jonas -->
                    <div class="col-12 d-flex rounded p-4 mt-1 align-items-center" style="background: var(--z-space-01);">
                      <div class="avatar avatar-primary">J</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">Jonas Hermann</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">jonas@stagecast.se</div>
                      <div style="width: 120px;" class="mr-2 text-right">
                        <div class="badge badge-primary">Invite Sent</div>
                      </div>
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <button class="dropdown-item"><i class="pre-icon mr-3" data-feather="refresh-cw"></i>Resend invite</button>
                          <button class="dropdown-item text-danger"><i class="pre-icon mr-3" data-feather="x"></i>Remove Filippo Boiani</button>
                        </div>
                      </div>
                    </div>
                    <!-- Stefan -->
                    <div class="col-12 d-flex rounded p-4 mt-1 align-items-center" style="background: var(--z-space-01);">
                      <div class="avatar avatar-primary">S</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">Stefan Hellkvist</div>
                      <div class="flex-grow-1 mx-4" style="flex-basis: 20%;">stefan@stagecast.se</div>
                      <div style="width: 120px;" class="mr-2 text-right">
                        <div class="badge badge-danger">Invite Expired</div>
                      </div>
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <button class="dropdown-item"><i class="pre-icon mr-3" data-feather="refresh-cw"></i>Resend invite</button>
                          <button class="dropdown-item text-danger"><i class="pre-icon mr-3" data-feather="x"></i>Remove Filippo Boiani</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();

      function setIntermediateCheckboxes() {
        const checkbox = document.querySelector('.custom-control-input[indeterminate]');
        checkbox.indeterminate = true;
      }
      function addSvgBackgroundToForm() {
        const iconPrependList = document.querySelectorAll('.icon-prepend');
        for (let index = 0; index < iconPrependList.length; index++) {
          const element = iconPrependList[index];
          const icon = element.dataset.icon;
          const svg = feather.icons[icon].toSvg({'stroke-width': 1.5, color: 'rgba(255,255,255,0.7)'})
          const escapeSvg = svg.replace(/</g, '%3c')
            .replace(/>/g, "%3e")
            .replace(/#/g, "%23")
            .replace(/"/g, "\'")
            .replace(/\)/g, "%29")
            .replace(/\(/g, "%28");
          element.style.backgroundImage = `url("data:image/svg+xml,${escapeSvg}")`;
        }
      }

      $(document).ready(() => {
        $('#modalTrigger').click();
        addSvgBackgroundToForm();
        setIntermediateCheckboxes();
      })

    </script>
  </body>
</html>
