<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Stagecast v3</title>
  </head>
  <body>

    <style>

      .max-w-400 {
        width: 100%;
        max-width: 400px;
      }

      @media (min-width: 992px) {
        .minh-lg-100 {
          min-height: 100vh;
        }
      }

      .workspace-sidenav {
        height: 100vh;
      }
    </style>
    <div class="d-flex">
      <!-- Workspace Sidenav -->
      <div class="workspace-sidenav px-1">
        <nav class="nav flex-column with-active-vertical-indicator">
          <a class="nav-item nav-link active">
            <div class="avatar avatar-primary">M</div>
          </a>
          <a class="nav-item nav-link">
            <div class="avatar avatar-primary">W</div>
          </a>
          <a class="nav-item nav-link">
            <div class="avatar avatar-primary">J</div>
          </a>
          <a class="nav-item nav-link">
            <div class="avatar avatar-primary">S</div>
          </a>
          <a class="nav-item nav-link">
            <button class="btn avatar">
              <i data-feather="plus"></i>
            </button>
          </a>
          <hr class="active-indicator" />
        </nav>
      </div>
      <!-- Page Main Content -->
      <div class="w-100">
        <!-- Workspace Navbar -->
        <div class="bg-01 d-flex justify-content-between" style="height: 60px;">
          <!-- Workspace Options -->
          <div class="px-4 py-3" style="width: 168px">
            <div>
              <span class="font-weight-semibold">
                My Workspace
              </span>
              <div class="dropdown d-inline-block float-right">
                <i class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-feather="chevron-down"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="./user-modal.html">
                    <div class="avatar avatar-sm avatar-primary mr-3" style="vertical-align: text-bottom;">F</div>Account Settings</a>
                  <a class="dropdown-item" href="./add-crew-members.html"><i class="pre-icon mr-3" data-feather="users"></i>Workspace Members</a>
                  <a class="dropdown-item" href="./workspace-settings.html"><i class="pre-icon mr-3" data-feather="settings"></i>Workspace Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" href="./login.html"><i class="pre-icon mr-3" data-feather="log-out"></i>Log out</a>
                </div>
              </div>
            </div>
            <span class="small" style="color: var(--text-medium-emph)">Fabian</span>
          </div>
          <!-- Workspace Plan Details -->
          <div class="d-flex align-items-center">
            <span style="color: var(--text-medium-emph)">Current Plan:</span>
            <span class="m-3 font-weight-semibold">Free</span>
            <button class="btn btn-ghost-primary">Upgrade</button>
          </div>
          <!-- Workspace Credits -->
          <div class="d-flex align-items-center">
            <span style="color: var(--text-medium-emph)">Available Participants:</span>
            <div class="d-flex rounded bg-03 py-2 px-3 m-3 align-items-center">
              <span class="font-weight-semibold">200</span>
              <div class="progress mx-2" style="width: 68px">
                <div class="progress-bar bg-success" style="width: 75%"></div>
              </div>
              <i data-feather="help-circle"></i>
            </div>
            <button class="btn btn-ghost-primary">Buy Credits</button>
          </div>
          <!-- Workspace Members -->
          <div class="align-self-center pr-4">
            <a class="btn btn-ghost-primary" href="./add-crew-members.html">
              <i class="pre-icon" data-feather="users"></i>
              Add Members
            </a>
          </div>
        </div>
        <!-- Dashboard Main -->
        <div class="d-flex flex-row">
          <!-- Room List Sidenav -->
          <div class="bg-01 d-flex flex-column" style="width: 168px; min-height: calc(100vh - 60px); flex-shrink: 0;">
            <div class="p-4">
              <h4 class="h6 mb-0" style="color: var(--text-medium-emph)">
                Activation Rooms
                <a class="float-right text-info" href="../docs/examples/modals-activation.html">
                  <i data-feather="plus"></i>
                </a>
              </h4>
            </div>
            <nav class="nav flex-column w-100 px-4" style="border-color: var(--z-space-24);">
              <!-- Room 1 -->
              <div class="nav-item btn btn-primary text-left my-2">
                <span>Room 1</span>
                <div class="dropdown d-inline-block float-right mr-n1">
                  <a style="color: inherit;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item " href="./room-settings.html"><i class="pre-icon mr-3" data-feather="edit-3"></i>Edit</a>
                    <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="copy"></i>Duplicate</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="../docs/examples/modals-dialog-advance.html"><i class="pre-icon mr-3" data-feather="trash-2"></i>Delete</a>
                  </div>
                </div>
              </div>
              <!-- Room 2 -->
              <div class="nav-item btn btn-secondary text-left my-2">
                <span>Room 2</span>
                <div class="dropdown d-inline-block float-right mr-n1">
                  <a style="color: inherit;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./room-settings.html"><i class="pre-icon mr-3" data-feather="edit-3"></i>Edit</a>
                    <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="copy"></i>Duplicate</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="../docs/examples/modals-dialog-advance.html"><i class="pre-icon mr-3" data-feather="trash-2"></i>Delete</a>
                  </div>
                </div>
              </div>
              <!-- Room 3 -->
              <div class="nav-item btn btn-secondary text-left my-2">
                <span>Room 2</span>
                <div class="dropdown d-inline-block float-right mr-n1">
                  <a style="color: inherit;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./room-settings.html"><i class="pre-icon mr-3" data-feather="edit-3"></i>Edit</a>
                    <button class="dropdown-item" href="#"><i class="pre-icon mr-3" data-feather="copy"></i>Duplicate</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="../docs/examples/modals-dialog-advance.html"><i class="pre-icon mr-3" data-feather="trash-2"></i>Delete</a>
                  </div>
                </div>
              </div>
            </nav>
            <nav class="nav flex-column w-100 px-1 py-2 mt-auto border-top" style="border-color: var(--z-space-24);">
              <a class="nav-link active" href="#">
                <i class="pre-icon mr-2" data-feather="gift"></i>What's new?
                </a>
              <a class="nav-link" href="#">
                <i class="pre-icon mr-2" data-feather="book-open"></i>Retake tour
              </a>
              <a class="nav-link" href="#">
                <i class="pre-icon mr-2" data-feather="help-circle"></i>Help Center
                <i class="float-right" style="color: var(--text-no-emph)" data-feather="external-link"></i>            </a>
            </nav>
          </div>
          <!-- Room Details -->
          <div class="flex-grow-1">
            <!-- Room Header -->
            <div class="d-flex align-items-center py-4 px-6">
              <h1 class="h2 mb-0">Room 1</h1>
              <button class="btn btn-secondary ml-auto">
                <i class="pre-icon" data-feather="bar-chart-2"></i>Room Analytics
              </button>
            </div>
            <hr class="my-0"/>
            <!-- Activation + Preview -->
            <div class="d-flex" style="min-height: calc(100% - 64px);">
              <!-- Activation List -->
              <div style="min-width: 320px; max-width: 468px; border-color: var(--z-space-24); flex-shrink: 0; min-height: 100%;" class="d-flex flex-column border-right p-6">
                <!-- Activation List header -->
                <div class="mb-4">
                  <span class="h5 mb-0" style="color: var(--text-medium-emph)">
                    Manage Activations
                  </span>
                  <span class="float-right">
                    <button type="button" class="btn btn-sm btn-secondary">
                      <i class="pre-icon" data-feather="search"></i>Templates
                    </button>
                    <button type="button" class="btn btn-sm btn-primary ml-2">Create</button>
                  </span>
                </div>
                <!-- Placeholder content -->
                <div class="blankstate border-0">
                  <h1 class="h4">Create your activations</h1>
                  <p style="color: var(--text-no-emph)">Engage your audience with quizzes, votings,
                    photo collages and so much more</p>
                    <div class="d-flex" style="width: calc(100% + 80px); margin: 0px -40px;">
                      <div class="m-2">
                        <img class="rounded" style="width: 100%; height: auto;" src="../showcase-assets/classic-quiz-template.jpg" alt="">
                        <div>Classic Quiz</div>
                      </div>
                      <div class="m-2">
                        <img class="rounded" style="width: 100%; height: auto;" src="../showcase-assets/photo-collage-template.png" alt="">
                        <div>Photo Collage</div>
                      </div>
                      <div class="m-2">
                        <img class="rounded" style="width: 100%; height: auto;" src="../showcase-assets/spinning-wheel-template.png" alt="">
                        <div>Spinning Wheel</div>
                      </div>
                    </div>
                    <button class="btn btn-secondary mt-5">
                      <i class="pre-icon" data-feather="search"></i>Templates
                    </button>
                </div>
              </div>
              <!-- Previews -->
              <div class="px-6 pt-5 d-none d-lg-block">
                <div class="nav with-dynamic-active-indicator" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                  <a class="nav-item text-info nav-link active pl-0" id="v-pills-presenter-tab" data-toggle="pill" href="#v-pills-presenter" role="tab" aria-controls="v-pills-presenter" aria-selected="false">Presenter View</a>
                  <a class="nav-item text-info nav-link" id="v-pills-participant-tab" data-toggle="pill" href="#v-pills-participant" role="tab" aria-controls="v-pills-participant" aria-selected="false">Participant Mode</a>
                  <hr class="active-indicator" />
                </div>
                <div class="mt-4">
                  <div class="tab-content"id="v-pills-tabContent">
                    <!-- Tab Content 1 -->
                    <div class="tab-pane fade show active" id="v-pills-presenter" role="tabpanel" aria-labelledby="v-pills-presenter-tab">
                      <div class="blankstate m-auto align-self-center bg-01">
                        <div class="circle-wrapper mb-4">
                          <img src="../docs/examples/assets/blankstate-img.png" alt="">
                        </div>
                        <h1 class="h3">Run your activations</h1>
                        <p style="color: var(--text-no-emph)">Start an activation and your audience can participate at www.stagecast.io using the room code #1234.</p>
                        <button class="btn btn-primary">Watch Tutorial</button>
                      </div>
                    </div>
                    <!-- Tab Content 2 -->
                    <div class="tab-pane fade" id="v-pills-participant" role="tabpanel" aria-labelledby="v-pills-participant-tab">
                      <img class="w-100" src="../showcase-assets/dashboard-preview.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="mt-4 text-right">
                  <button class="btn btn-sm btn-ghost-success">
                    <i class="pre-icon" data-feather="eye"></i>0
                  </button>
                  <button class="btn btn-sm btn-secondary ml-3">
                    <i class="pre-icon" data-feather="share-2"></i>Share
                  </button>
                  <button class="btn btn-sm btn-secondary ml-3">
                    <i data-feather="settings"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();

      function setIntermediateCheckboxes() {
        const checkbox = document.querySelector('.custom-control-input[indeterminate]');
        checkbox.indeterminate = true;
      }
      function addSvgBackgroundToForm() {
        const iconPrependList = document.querySelectorAll('.icon-prepend');
        for (let index = 0; index < iconPrependList.length; index++) {
          const element = iconPrependList[index];
          const icon = element.dataset.icon;
          const svg = feather.icons[icon].toSvg({'stroke-width': 1.5, color: 'rgba(255,255,255,0.7)'})
          const escapeSvg = svg.replace(/</g, '%3c')
            .replace(/>/g, "%3e")
            .replace(/#/g, "%23")
            .replace(/"/g, "\'")
            .replace(/\)/g, "%29")
            .replace(/\(/g, "%28");
          element.style.backgroundImage = `url("data:image/svg+xml,${escapeSvg}")`;
        }
      }

      function initNav($) {
        const navDynamic = $('.nav.with-dynamic-active-indicator');
        navDynamic.map(function (e) {
          const parentThis = $(this);
          const indicator = parentThis.children('.active-indicator');
          const activeEl = parentThis.children('.active');
          indicator.css({ left: activeEl.css('padding-left'), top: activeEl.outerHeight(), width: activeEl.width(), height: '4px' });

          $(window).resize(function() {
            const activeItem = $('.nav.with-dynamic-active-indicator a.nav-link.active');
            const leftPosition = activeItem.offset().left - activeItem.parent().offset().left + parseInt(activeItem.css('padding-left'));
            indicator.css({ left: leftPosition, width: activeItem.width() });
          });

          parentThis.children('.nav-link').click(function() {
            // parentThis.children('a.nav-link.active').removeClass("active");
            // $(this).addClass("active");
            const leftPosition = $(this).offset().left - $(this).parent().offset().left + parseInt($(this).css('padding-left'));
            indicator.css({ left: leftPosition, width: $(this).width() });
          });
        });
      }

      $(document).ready(() => {
        // $('#modalTrigger').click();
        // addSvgBackgroundToForm();

        $('.workspace-sidenav .nav .nav-link').click(function() {
          $('.workspace-sidenav a.nav-link.active').removeClass("active");
          $(this).addClass("active");
        });

        initNav($);
      })

    </script>
  </body>
</html>
