<html>

<head>
  <link rel="stylesheet" href="./frame.css">
</head>

<body>
  <div class="frame-root">
    <div class="frame-content">
      <div>
        <link rel="stylesheet" href="../assets/css/main.css">
        <div class="frame-example d-flex h-100">
          <div class="blankstate m-auto align-self-center">
            <div class="circle-wrapper mb-4">
              <img src="../docs/examples/assets/blankstate-img.png" alt="">
            </div>
            <h1 class="h3">This is the layout intro page</h1>
            <p style="color: var(--text-no-emph)">You can go to one of the following links.</p>
            <nav class="nav justify-content-center" style="max-width: 500px">
              <a class="nav-link active" href="./add-crew-members.html">Add Crew Members</a>
              <a class="nav-link" href="./user-modal.html">User Settings</a>
              <a class="nav-link" href="./templates-modal.html">Templates Modal</a>
              <a class="nav-link" href="./signup.html">Signup</a>
              <a class="nav-link" href="./workspace-settings.html">Workspace Settings</a>
              <a class="nav-link" href="./share-modal.html">Share Modal</a>
              <a class="nav-link" href="./room-settings.html">Room Settings</a>
              <a class="nav-link" href="./dashboard-navigation.html">Dashboard Navigation</a>
              <a class="nav-link" href="./activation-list.html">Activation List</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
