<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Stagecast v3</title>
  </head>
  <body>

    <style>

      .max-w-400 {
        width: 100%;
        max-width: 400px;
      }

      @media (min-width: 992px) {
        .vh-lg-100 {
          height: 100vh;
        }
      }


    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 vh-lg-100 pb-0 pt-lg-8 px-5 px-lg-8 order-2 order-lg-0" style="background: var(--blue-300);">
          <div class="d-flex flex-column h-100 text-center align-items-center">
            <img class="mb-5 mr-auto" src="../showcase-assets/logo-white.png" width="81" alt="">
            <div>
              <h1 class="h1">Stagecast for Enterprise</h1>
              <h2 class="h4 mb-5">The audience activation tool for larger teams</h2>
            </div>
            <img class="my-5 max-w-400" src="../showcase-assets/login.png"alt="">
            <div class="ml-0">
              <h3 class="h4">Collect valuable audience data <br> and convert participants into customers</h3>
              <button class="btn btn-secondary my-5 px-5" type="button">Schedule a Demo</button>
            </div>
          </div>
          </div>
        <div class="col-12 col-lg-8 vh-lg-100 px-5 py-8 py-lg-0 d-flex align-items-lg-center">
          <span class="p-5" style="position: absolute; right: 0; top: 0">
            Don't have an account? <a class="px-4" href="./signup.html">Sign up</a>
          </span>
          <form class="col-md-7 my-lg-auto mx-auto px-0 py-8 py-lg-0" style="max-width: 500px">
            <h1>Log in to your account</h1>
            <div class="form-group mt-5">
              <label for="signupEmail">Email</label>
              <input type="email" class="form-control" id="signupEmail" placeholder="Type email" aria-describedby="emailHelp">
            </div>
            <div class="form-group mt-5">
              <label for="signupPassword">Password</label>
              <input type="password" class="form-control" placeholder="Your password" id="signupPassword">
            </div>
            <button class="btn btn-primary mt-5" style="width: 200px;" type="submit">Log In</button>
          </form>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();

      function setIntermediateCheckboxes() {
        const checkbox = document.querySelector('.custom-control-input[indeterminate]');
        checkbox.indeterminate = true;
      }
      function addSvgBackgroundToForm() {
        const iconPrependList = document.querySelectorAll('.icon-prepend');
        for (let index = 0; index < iconPrependList.length; index++) {
          const element = iconPrependList[index];
          const icon = element.dataset.icon;
          const svg = feather.icons[icon].toSvg({'stroke-width': 1.5, color: 'rgba(255,255,255,0.7)'})
          const escapeSvg = svg.replace(/</g, '%3c')
            .replace(/>/g, "%3e")
            .replace(/#/g, "%23")
            .replace(/"/g, "\'")
            .replace(/\)/g, "%29")
            .replace(/\(/g, "%28");
          element.style.backgroundImage = `url("data:image/svg+xml,${escapeSvg}")`;
        }
      }

      $(document).ready(() => {
        $('#modalTrigger').click();
        addSvgBackgroundToForm();
        setIntermediateCheckboxes();
      })

    </script>
  </body>
</html>
