<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Stagecast v3</title>
  </head>
  <body style="padding: 48px 32px">
    <div class="row mx-auto">
      <button id="modalTrigger" type="button" class="btn" data-toggle="modal" data-target="#crewMembersModal">Open the modal!</button>

      <!-- User Modal -->
      <div>
        <div class="modal fade" id="crewMembersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Account Settings</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body p-0">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-3 p-5 border-right" style="border-color: var(--z-space-24)">
                      <div class="nav w-100 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                        <a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-security" aria-selected="false">Security</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Email Settings</a>
                      </div>
                    </div>
                    <div class="col-9 p-0">
                      <div class="tab-content" style="min-height: 600px" id="v-pills-tabContent">
                        <div class="tab-pane fade show active p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div>
                            <div class="border-bottom pb-5" style="border-color: var(--z-space-24)">
                              <h3 class="h5">Avatar
                                <i class="float-right" data-feather="chevron-down"></i>
                              </h3>
                              <div style="color: var(--text-medium-emph)">Change your account avatar</div>
                              <div>
                                <div class="avatar avatar-xl avatar-primary mt-5">R</div>
                                <button class="btn btn-secondary mt-4 ml-5">
                                  <i class="pre-icon" data-feather="upload-cloud"></i>
                                  Upload
                                </button>
                              </div>
                            </div>
                            <div class="border-bottom py-5" style="border-color: var(--z-space-24)">
                              <h3 class="h5">Name
                                <i class="float-right" data-feather="chevron-down"></i>
                              </h3>
                              <div style="color: var(--text-medium-emph)">Logged in as Robin Bugdahn</div>
                              <div>
                                <div class="form-group my-5">
                                  <input type="email" class="form-control" value="Robin Bugdahn" placeholder="Type name..." aria-describedby="name">
                                </div>
                                <button class="btn btn-primary">
                                  Save Name
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade p-5" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
                          <div>
                            <div class="border-bottom pb-5" style="border-color: var(--z-space-24)">
                              <h3 class="h5">Change Password
                                <i class="float-right" data-feather="chevron-down"></i>
                              </h3>
                              <div style="color: var(--text-medium-emph)">Change your current password and set up a new one.</div>
                              <form class="mt-5">
                                <div class="form-group mb-5">
                                  <label for="exampleInputPassword1">Current Password</label>
                                  <input type="password" class="form-control" placeholder="Type password..." id="exampleInputPassword1">
                                </div>
                                <div class="form-group mb-5">
                                  <label for="exampleInputPassword1">New Password</label>
                                  <input type="password" class="form-control" placeholder="Type password..." id="exampleInputPassword1">
                                </div>
                                <div class="form-group mb-5">
                                  <label for="exampleInputPassword1">Confirm New Password</label>
                                  <input type="password" class="form-control" placeholder="Type password..." id="exampleInputPassword1">
                                </div>
                                <button class="btn btn-primary">
                                  Update Password
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                          <div>
                            <div class="border-bottom pb-5" style="border-color: var(--z-space-24)">
                              <h3 class="h5">Email
                                <i class="float-right" data-feather="chevron-down"></i>
                              </h3>
                              <div style="color: var(--text-medium-emph)">Your email is robin@stagecast.io</div>
                              <div>
                                <div class="form-group my-5">
                                  <label>New Email Address</label>
                                  <input type="email" class="form-control" value="robin@stagecast.io" placeholder="Type name..." aria-describedby="name">
                                </div>
                                <button class="btn btn-primary">
                                  Save Changes
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();

      function addSvgBackgroundToForm() {
        const iconPrependList = document.querySelectorAll('.icon-prepend');
        for (let index = 0; index < iconPrependList.length; index++) {
          const element = iconPrependList[index];
          const icon = element.dataset.icon;
          const svg = feather.icons[icon].toSvg({'stroke-width': 1.5, color: 'rgba(255,255,255,0.7)'})
          const escapeSvg = svg.replace(/</g, '%3c')
            .replace(/>/g, "%3e")
            .replace(/#/g, "%23")
            .replace(/"/g, "\'")
            .replace(/\)/g, "%29")
            .replace(/\(/g, "%28");
          element.style.backgroundImage = `url("data:image/svg+xml,${escapeSvg}")`;
        }
      }

      $(document).ready(() => {
        $('#modalTrigger').click();
        addSvgBackgroundToForm();
      })

    </script>
  </body>
</html>
