.custom-control {
  min-height: 1rem * $line-height-base;
}

.custom-control-label {
  user-select: none;
}

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $custom-switch-indicator-active-bg;
    }
  }
}

.custom-checkbox, .custom-radio, .custom-switch {
  .custom-control-input:disabled {
    & ~ .custom-control-label::before {
      opacity: $custom-control-label-disabled-opacity;
    }

    & ~ .custom-control-label::after {
      opacity: $custom-control-label-disabled-opacity;
    }

    &:checked ~ .custom-control-label::before {
      border-color: transparent;
      opacity: $custom-control-label-disabled-opacity;
    }

    &:checked ~ .custom-control-label::after {
      opacity: $custom-control-label-disabled-opacity;
    }
  }
}

.dropzone-control {
  border: $custom-dropzone-border-color solid $custom-dropzone-border-width;
  border-radius: $custom-dropzone-border-radius;
  padding: $custom-dropzone-padding-x $custom-dropzone-padding-y;
  background-color: $custom-dropzone-bg;
  & > input[type="file"] {
    display: none;
  }
  .dropzone-control-label {
    background-image: $custom-dropzone-bg-img;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 40px 40px;
    padding-left: 64px;
    margin-bottom: 0;
  }

  .dropzone-control-divider {
    margin-top: $custom-dropzone-padding-y;
    border: $custom-dropzone-border-color solid $custom-dropzone-border-width;
    display: block;
    width: 100%;
  }

  .dropzone-preview {
    button.delete {
      position: absolute;
      right: 0;
      display: none;
      margin: map-get($spacers, 2);
    }

    .dropzone-preview-img {
      background: var(--z-space-02);
      border-radius: $custom-dropzone-border-radius;
      /* margin: 0 5px 0 10px; */
      width: 100%;
      position: relative;
      margin-top: $custom-dropzone-padding-y;

      img {
        border: 1px solid transparent;
        border-radius: $custom-dropzone-border-radius;
        width: 100%;
        height: 190px;
        object-fit: contain;
      }

      &:hover > button.delete {
        display: block;
      }

      &:hover img, & .selected {
        border: $custom-dropzone-border-color solid $custom-dropzone-border-width;
      }
    }
  }
}

.dropzone-control-compact {
  padding: 16px;
  width: fit-content;
  height: 2px + 40px + 16px * 2;

  .dropzone-control-label {
    padding-left: 40px;
    min-height: 40px;
  }
}
