.modal {
  .close {
    color: var(--text-high-emph);

    @include hover() {
      color: var(--text-medium-emph);
      text-decoration: none;
    }
  }

  .modal-footer {
    padding-top: 0;
  }
}

.modal-title-img {
  $width-addition: $modal-header-padding-x + $modal-header-padding-x;
  width: calc(100% + #{$width-addition});
  margin: -1 * $modal-header-padding-x;

  & + .delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: map-get($spacers, 5);
  }
}

.modal-celebration {
  .modal-header {
    overflow: hidden;
  }
  .modal-body {
    text-align: center;
  }
  .modal-footer {
    text-align: center;

    & > * {
      margin: 0;
    }

    & > .modal-footer-desc {
      width: 100%;
      color: $text-medium-emph;
      margin-top: map-get($spacers, 2);
    }
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0;
    .modal-content {
      border: none;
    }

    .modal-header {
      background-color: $z-space-00;
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }
  }
}
