// This file needs to be added after the bootstrap variables file

// Avatars

$avatar-size:     16px * 2 !default;
$avatar-size-sm:  16px * 1 !default;
$avatar-size-lg:  16px * 2.5 !default;
$avatar-size-xl:  16px * 4 !default;

$avatar-font-size:    20px !default;
$avatar-font-size-sm: 14px !default;
$avatar-font-size-lg: 24px !default;
$avatar-font-size-xl: 32px !default;

$avatar-line-height:    24px !default;
$avatar-line-height-sm: 16px !default;
$avatar-line-height-lg: 28px !default;
$avatar-line-height-xl: 38px !default;

$avatar-border-radius: $border-radius !default;
$avatar-font-weight: $font-weight-normal !default;
